[tool.black]
line-length = 100
target-version = ['py311']
include = '\.pyi?$'

[tool.isort]
profile = 'black'
line_length = 100
multi_line_output = 3
include_trailing_comma = true

[tool.ruff]
line-length = 100
select = ['E', 'F', 'W', 'C', 'B', 'S', 'I']
ignore = ['E203', 'W503']
exclude = ['.venv', 'venv', '__pycache__', 'build', 'dist']
